.container {
  display: flex;
  flex: 1;
  /* flex-grow: 1; */
  margin-right: 2rem;
  margin-top: 3rem;
  /* background-color: red; */
  /* overflow: hidden; */
}

.wrap {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  /* background-color: red; */
  /* overflow: hidden; */
  /* margin-block: auto; */
}

.button > button {
  font-family: "Jetbrains Mono";
  border: 0;
  outline: none;
  background-color: transparent;

  color: rgba(173, 173, 173, 0.3);

  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}



.button > button:hover {
  /* background-color: var(--deeperState); */
  color: var(--ultraState) !important;
}

.heading {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  font-family: var(--codeFont);
  font-weight: 900;
  font-size: 35px;

  /* background-color: rebeccapurple; */
}

.value {
  /* margin-left: 10%; */
  /* margin-left: auto; */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: #190075;
}

.percent {
  margin-left: auto;
  margin-right: 4%;
  font-size: 50px !important;
}

.attrData {
  margin-block: auto;
}

.subMenu {
  /* border: 1px solid black; */
  box-shadow: 0 0 2px black;
  border-radius: 40px;
  padding: 2rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  /* transition: all 0.3s ease-in-out; */
}

.alert {
  color: white;
  background-color: red;
  position: absolute;
  left: 50%;

  height: 2rem;
  width: 2rem;
  padding: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.pointRed {
  background-color: var(--ultraDeep);
  /* padding: 2rem; */
}

.pointBlack {
  /* background-color: black; */
  background-color: var(--ultraState);
}

.content > div {
  display: flex;
  gap: 35px;
  flex-wrap: wrap;
  justify-content: center;
}

.content {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  /* gap: 2rem; */

  /* overflow: hidden; */
}

.content > div > div {
  /* outline: 1px solid black; */
  box-shadow: 1px 1px 2px black;
  height: 15px;
  width: 15px;
  border-radius: 50%;
}

.card {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* align-items: initial; */
  flex: 1;
  height: 100%;
  position: relative;
  /* overflow: hidden; */
}

.card > * {
  /* flex: 1; */
}

.page {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
}

.dom {
  height: 10px;
  width: 10px;
  background-color: rgb(202, 202, 202);
  border-radius: 50%;
  appearance: none;
}

.dom:checked {
  background-color: var(--state);
}

.news {
  display: flex;
  /* align-items: center;
  justify-content: center; */
}

.button {
  position: absolute;
  top: 50%;
}

.left {
  /* top: 50%; */
  left: 0px;
}

.right {
  /* top: 50%; */
  right: 0px;
}

.card:hover .button > button {
  /* background-color: ; */
  color: rgb(187, 187, 187);
}
