.container {
  margin-left: 8rem;
}

.comingSoon {
  width: 91vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--codeFont);
  font-weight: 900;
  font-size: 8rem;
  color: var(--uniqueState); 
  user-select: none;
}

.comingSoon > div {
  background-color: var(--slightWhite);
  padding: 2rem 8rem;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.exc{
  /* color: var(); */
  font-size: 10rem;
}
