.container {
  margin-left: 8rem;
}
.wrap {
  /* background-color: red; */
  display: flex;
  position: relative;
}

.staticDetail {
  height: 80vh;
  top: 50%;
  background-color: rebeccapurple;
  position: absolute;
}

.dynamicDetail {
  margin-left: 2rem;
  background-color: aqua;
}
