.container {
  display: flex;
  justify-content: space-between;
  /* gap: 4rem; */
  align-items: center;
  height: 100%;
  flex-direction: column;
  font-family: "Jetbrains mono";
  user-select: none;
  /* margin: 1rem 0; */
  /* margin-bottom: 1rem; */
  /* flex-grow: 1; */
  /* gap: 2rem; */
}

.cardContainer {
  /* flex-grow: 1; */
  height: 8rem;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  background-color: var(--bgColor);
  /* margin: 3rem 0; */
  width: 85%;
  border-radius: 40px;
  position: relative;
  gap: 1rem;
  overflow: hidden;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.cardContainer > * {
  /* flex-grow: 1; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardName {
  display: flex;
  flex-direction: column;
  /* flex-grow: 0.5; */
  font-size: 19px;
}
.cardValue {
  font-size: 40px;
}
.special {
  background-color: var(--subButton);
}

.alt {
  background-color: var(--state);
}

.altValue {
  font-size: 30px;
}
