.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  flex-direction: column;
  font-family: "Jetbrains mono";
  user-select: none;
}

.cardContainer {
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bgColor);
  width: 85%;
  border-radius: 40px;
  position: relative;
  gap: 1rem;
  overflow: hidden;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.cardContainer > * {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardName {
  display: flex;
  flex-direction: column;
  font-size: 19px;
}

.cardValue {
  font-size: 32px;
}

.special {
  background-color: var(--subButton);
}

.alt {
  background-color: var(--state);
}

.altValue {
  font-size: 30px;
}

.tempButton {
  outline: none;
  border: 0;
  padding: 0;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

.tempButton:active {
  box-shadow: none !important;
}

.tempButton:hover {
  box-shadow: rgba(60, 64, 67, 0.5) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.3) 0px 2px 6px 2px;
}
