.mainPage {
  /* margin-left: 8rem; */
  /* margin: 0rem 2rem 2rem 8rem; */
  margin-left: 8rem;
  /* padding: 1rem; */

  height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  /* border-radius: 40px;
  box-shadow: 0 0 2px black; */
  /* background-color: black; */
}

.header {
  padding: 2rem;
  position: relative;
  font-size: 30px;
  display: flex;
  position: relative;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
}

.Clock {
  margin-left: auto;
}

.header::after {
  position: absolute;
  /* top: 100%; */
  bottom: 25%;
  left: 1%;
  content: "";
  width: 40%;
  display: block;

  background: linear-gradient(to right, black, white);
  /* border-radius: 50%; */

  height: 1px;
}

.wrap {
  /* padding: 20rem; */
  /* margin: 2rem; */
  /* padding: 20rem; */
  display: flex;

  /* border-radius: 20px;
  box-shadow: 0 0 4px black; */
  height: 85vh;
  gap: 2rem;
}

.major {
  flex: 0.79;
  border-right: 2px solid black;
  display: flex;
}

.extras {
  /* flex-grow: 0.2; */
  flex: 0.2;
}

.center {
  display: flex;
}
