.mainPage {
  margin-left: 8rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 2rem;
  position: relative;
  font-size: 30px;
  display: flex;
  position: relative;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Clock {
  margin-left: auto;
}

.header::after {
  position: absolute;
  bottom: 25%;
  left: 1%;
  content: "";
  width: 40%;
  display: block;
  background: linear-gradient(to right, black, white);
  height: 1px;
}

.wrap {
  display: flex;
  height: 85vh;
  gap: 2rem;
}

.major {
  flex: 0.79;
  border-right: 2px solid black;
  display: flex;
}

.extras {
  flex: 0.2;
}

.center {
  display: flex;
}
