.hud {
  display: flex;
  align-items: center;
  flex: 0.5;
}

.wrap {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: auto;
  margin-right: 10%;
  user-select: none;
}

.infor {
  display: flex;
  gap: 1rem;
}

.img {
  font-size: 160px;
  margin-left: 2rem;
  margin-top: 1rem;
}

.res {
  display: flex;
  font-family: "Jetbrains Mono";
  font-weight: 900;
}

.name {
  font-size: 50px;
}

.rollcall {
  font-size: 22px;

  margin-left: auto;
}

.subSection {
  flex: 1;
  display: flex;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.loading {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.loadingAnimation {
  border: 20px solid var(--subZero);
  border-top: 20px solid var(--bgColor);

  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
