.hud {
  display: flex;
  align-items: center;
  flex: 0.5;
}

.wrap {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: auto;
  margin-right: 10%;
  user-select: none;
}

.infor {
  display: flex;
  gap: 1rem;
}

.img {
  font-size: 160px;
  margin-left: 2rem;
  margin-top: 1rem;
}

.res {
  display: flex;
  font-family: "Jetbrains Mono";
  font-weight: 900;
}

.name {
  font-size: 50px;
}

.rollcall {
  font-size: 22px;

  margin-left: auto;
}

.subSection {
  flex: 1;
  display: flex;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
}
