.navBody {
    width: 6rem;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    margin: 0;
    padding: 0;
    /* background-color: rgb(77, 77, 77); */
    background-color: var(--bgColor);
    transition: ease 0.3s;
    border-radius: 0 5px 5px 0px;

    user-select: none;
    box-shadow: 0 0 2px black;
    z-index: 99;
    overflow: hidden;
}

.navItem {
    /* margin-left: 1rem; */
    /* padding-left: 1rem; */
    display: flex;
    flex-direction: column;
    /* flex-grow: 1; */
    width: 100%;
    transition: 0.5s ease;
    cursor: pointer;
    position: relative;
    border-radius: 10px;
}

.heading {
    font-size: 2rem;
    height: 5rem;
    display: flex;
    margin-left: 2rem;
    /* width: 0; */
    gap: 1rem;
    align-items: center;
}

.navItem:last-child {
    margin-top: auto;
}


/* //TODO: Animate linkname apperance on navHover */
/* * Still Needs Work */


.linkName {
    /* !: This might be Bugged due to overflow Hidden in navBody */
    transform: translateX(2rem);
    visibility: hidden;
    transition: all 0.2s ease-in-out;

    font-size: 1.5rem;
    /* ? Visiblity Not good for audio softwars, pageReaders */
}

.navBody:hover {
    width: 16rem;
}

.navBody:hover .linkName {
    /* display: block; */
    transform: translateX(0);
    visibility: visible;

}

/* .heading:hover {
    background-color: rgb(48, 48, 48);
    
} */

.navItem:hover {
    /* background-color: rgb(48, 48, 48); */
    background-color: var(--subColor);
}

.pList {
    /* display: none; */
    /* visibility: hidden; */
    height: 0;
    visibility: hidden;
    opacity: 0;
    /* transition: all 0.2s ease-in-out; */
    /* position: absolute; */
    /* left: 100%; */
    /* background-color: rgb(77, 77, 77); */
    background-color: var(--subColor);
    transition: all .3s ease;
    border-radius: 10px;
    /* display: none; */
    /* border-radius: 0 5px 5px 0; */
    /* box-shadow: 0px 0 2px black; */
    /* clip-path: inset(-2px -2px -2px 0px); */
    /* top: 50%; */
    /* padding: 0 1rem 1rem 1rem; */
}

.listItem {
    /* padding: 1.5rem; */
    height: 5rem;
    padding: 0 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 5px 5px 0;
    font-size: 1.3rem;
    border-radius: 10px;
    /* position: absolute; */
}

.listItem span {
    position: absolute;
}

.listItem:hover {
    /* background-color: rgb(48, 48, 48); */
    /* box-shadow: 1px 1px 2px black; */
    background-color: var(--depColor);

    /* overflow: hidden; */
}

.navItem:has(.pList):hover .pList {
    /* display: block; */
    height: 15rem;
    visibility: visible;
    opacity: 1;
    border-radius: 10px;
    /* transition: all 0.3s ease; */
    /* display: block; */

}