.navBody {
  width: 6rem;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: var(--bgColor);
  transition: all ease 0.3s;
  border-radius: 0 5px 5px 0px;
  user-select: none;
  z-index: 97;
  overflow: hidden;
}

.navItem {
  display: flex;
  flex-direction: column;
  width: 100%;
  transition: 0.5s ease;
  cursor: pointer;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.heading {
  font-size: 2rem;
  height: 5rem;
  display: flex;
  padding-left: 2rem;
  gap: 1rem;
  align-items: center;
}

.logout {
  margin-top: auto;
}

.logout:hover {
  background-color: rgba(255, 255, 255, 0.88) !important;
}

/* //TODO: Animate linkname apperance on navHover */
/* * Still Needs Work */
/* ! Heavy CSS Loading Causes Sluttering on First load */

.linkName {
  /* !: This might be Bugged due to overflow Hidden in navBody */
  transform: translateX(2rem);
  visibility: hidden;
  transition: all 0.2s ease-in-out;
  font-size: 1.5rem;
  /* ? Visiblity Not good for audio softwars, pageReaders */
}

.navBody:hover {
  width: 16rem;
  border-radius: 0 10px 10px 0px;
  box-shadow: 2px 0px 20px rgba(0, 0, 0, 0.3);
}

.navBody:hover .linkName {
  transform: translateX(0);
  visibility: visible;
}

.navItem:hover {
  background-color: var(--subColor);
}

.pList {
  height: 0;
  visibility: hidden;
  opacity: 0;
  background-color: var(--subColor);
  transition: all 0.3s ease;
  border-radius: 10px;
}

.listItem {
  height: 5rem;
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 5px 5px 0;
  font-size: 1.3rem;
  border-radius: 10px;
}

.listItem span {
  position: absolute;
}

.listItem:hover {
  background-color: var(--depColor);
}

.navItem:has(.pList):hover .pList {
  height: 15rem;
  visibility: visible;
  opacity: 1;
  border-radius: 10px;
}

.blur {
  transition: all 0.3s ease, width 0s;
  width: 0vw;
  user-select: none;
  position: absolute;
}

.navBody:is(:hover) + .blur {
  position: fixed;
  height: 100vh;
  top: 0;
  width: 100vw;
  user-select: none;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  z-index: 95;
}
