.container {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(
    140deg,
    var(--slightHue) 5%,
    var(--subColor) 50%,
    var(--bgColor) 85%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  height: 75vh;
  width: 75vw;
  background-color: white;
  padding: 2rem;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.34) 0px 3px 10px;
  display: flex;
}

.heading {
  font-size: 3rem;
  margin-left: 2rem;
  font-family: "Jetbrains Mono";
  font-weight: 900;
  color: var(--uniqueState);
}

.innerform {
  padding: 1rem;
  margin-top: 2rem;
  font-family: "Jetbrains Mono";
  font-weight: 900;
  margin-left: 3rem;
  overflow: hidden;
}

.firstForm {
  display: flex;
  flex-direction: column;
  gap: 3vh;
  font-size: 1.2rem;
}

.firstForm > div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.name > div {
  flex-grow: 1;
  display: flex;
}

.flexBox {
  display: flex;
}

.flexWrap {
  flex-grow: 1;
  display: flex;
  gap: 5vw;
  margin-left: 3vw;
}

.input {
  border-radius: 10px;
  padding: 10px;
  text-decoration: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: none;
  flex-grow: 1;
}

.secondForm {
  display: flex;
  flex-direction: column;
  gap: 3vh;
  font-size: 1.2rem;
}

.secondForm > div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.input {
  background-color: var(--slightHue);
}

.input:required:valid {
  background-color: var(--validInput);
}

.input:required:focus:valid {
  background-color: var(--validated);
}

.input:not(:placeholder-shown):invalid {
  background-color: var(--unfocusInvalid);
}

.input:focus:invalid {
  background-color: var(--invalidInput);
}

.formBody {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.submit {
  display: flex;
  justify-content: center;
  width: var(--signUpWidth);
  margin-top: 1rem;
}

.submit > button {
  border: none;
  outline: none;
  background-color: var(--subButton);
  font-family: var(--codeFont);
  padding: 1rem 3rem;
  border-radius: 30px;
  font-size: 20px;
  font-weight: 700;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.473);
  transition: all 0.3s;
  cursor: pointer;
}

.submit > button:active {
  box-shadow: none;
}

.submit > button:hover {
  background-color: var(--state);
}

.firstForm,
.secondForm,
.submit {
  transition: all 0.3s ease-in-out;
}

.container {
  user-select: none;
}

.radio[type="radio"] {
  appearance: none;
  border: none;
  outline: 2px solid var(--depColor);
  background-color: transparent !important;
  outline-offset: 2px;
}

.radio[type="radio"]:checked {
  background-color: var(--subButton) !important;
  outline: 2px solid var(--subButton);
}

.intFlex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.partA {
  flex: 0.5;
}

.partB {
  margin-left: auto;
  flex: 0.4;
}

.loginRedirect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: var(--subButton);
  border-radius: 40px;
  margin: 0 1rem;
  gap: 2rem;
}

.header {
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  font-family: "Jetbrains Mono";
  font-weight: 900;
}

.header > :last-child {
  font-size: 8rem;
}

.loginButton > button {
  background-color: var(--state);
  color: white;
}
